<div class="width w-1/2 mx-auto mt-52 bg-indigo-200 p-14 text-gray-800 flex flex-col items-center justify-center gap-10 rounded-xl drop-shadow-xl">
    <div class="flex gap-10" >
        <select 
          class="p-4 bg-transparent border-b-2 w-2/3" 
          [(ngModel)]="firstselectedValue" 
          (ngModelChange)="updateCurrencies()">
            <option>Please select currency</option>
            <option *ngFor="let firstCurrency of allCurrencyList">
                {{firstCurrency.cc}} ({{firstCurrency.txt}})
            </option>
        </select>
        <input 
           class="bg-transparent border-b-2 text-right w-1/3" 
           type="text" 
           placeholder="0.00" 
           (keyup)="onfirstInput($event)" 
           [value]="firstInput" 
           maxlength="12">
    </div>
    <div>
        <p *ngIf="firstselectedValue && secondselectedValue">
            1 {{firstCurrency}} = {{calc}} {{secondCurrency}}
        </p>
    </div>
    <div class="flex gap-10">
        <select 
           class="p-4 bg-transparent border-b-2 w-2/3" 
           [(ngModel)]="secondselectedValue" 
           (ngModelChange)="updateCurrencies()">
            <option>Please select currency</option>
            <option *ngFor="let secondCurrency of allCurrencyList">
                {{secondCurrency.cc}} ({{secondCurrency.txt}})
            </option>
        </select>
        <input 
           class="bg-transparent border-b-2 text-right w-1/3" 
           type="text" 
           placeholder="0.00" 
           (input)="onSecondInput($event)" 
           [value]="secondInput"
           maxlength="12">
    </div>
</div>